body {
    background: #FFF3EB;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
}

html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
}

a {
    color: #914D26;
}

h1 {
    color: #914D26;
}

.topnav {
    overflow: hidden;
    background-color: #914D26;
    color: #ffffff;
    padding-bottom: 1.25%;
    margin-bottom: 1.75%;
}

.topnav a {
    display: block;
    color: #ffffff;
    text-align: center;
    text-decoration: dotted;
    font-size: 100px;
}

#maintitre {
    font-family: 'Big Shoulders Inline Display', cursive;
}

input {
    position: relative;
    display: inline-block;
    font-size: 20px;
    transition: .5s;
}

#req {
    background: #fff;
    width: 340px;
    height: 50px;
    border: none;
    outline: none;
    padding: 0 25px;
    border-radius: 25px 0 0 25px;
}

#target {
    position: relative;
    border-radius: 0 25px 25px 0;
    width: 150px;
    height: 50px;
    border: none;
    outline: none;
    cursor: pointer;
    color: #fff;
    background: #914D26;
}

#loader {
    border: 10px solid #f3f3f3;
    border-radius: 50%;
    border-top: 10px solid #914D26;
    position: relative;
    width: 100px;
    height: 100px;
    -webkit-animation: spin 2s linear infinite;
    /* Safari */
    animation: spin 2s linear infinite;
    /*margin-left:11vh;*/
    margin-left: auto;
    margin-right: auto;
}


/* #loader:after {
    content: "";
    display: block;
    padding-bottom: 100%;
} */

#button {
    padding-bottom: 10px;
}

#listColor {
    margin-right: 35%;
    margin-left: 35%;
}

#listAll {
    display: flex;
    flex-direction: column;
}

.button {
    display: inline-block;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    color: #fff;
    background-color: #f44336;
    border: none;
    padding: 10px 15px;
}


/* Safari */

@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

#corps section {
    display: flex;
    justify-content: space-around;
    margin-left: 15%;
    margin-right: 15%;
}

#categories,
#ingredientsLies {
    display: flex;
    flex-direction: column;
    flex-basis: 50%;
}