body {
    background-color: #c1faef;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

.topnav {
    overflow: hidden;
    background-color: #ccf5eb;
    padding-bottom: 1.25%;
    margin-bottom: 1.75%;
}

.topnav a {
    display: block;
    color: black;
    text-align: center;
    text-decoration: dotted;
    font-size: 100px;
}

#maintitre {
    font-family: 'Big Shoulders Inline Display', cursive;
}

#loader {
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid #3498db;
    width: 120px;
    height: 120px;
    -webkit-animation: spin 2s linear infinite; /* Safari */
    animation: spin 2s linear infinite;
}

#button {
    padding-bottom: 10px;
}

#listAll {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-basis: 100%;
}

.button {
    display: inline-block;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    color: #fff;
    background-color: #f44336;
    border: none;
    padding: 10px 15px;
}

#corps{
    display: flex;
    width: 100%;
}

#categories, #ingredientsLies{
    display: flex;
    flex-direction: column;
    width: 50%;
}

/* Safari */
@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}